<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Recuperar senha</div>
    <div class="page__content shadow p-3 margem-topo position-relative">
        <div class="px-4 py-2 container col-10 text-center">
            <mat-form-field class="col-7 container" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="E-mail" #passwordResetEmail required />
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Por favor, insira um endereço de e-mail para modificar sua senha.
                </mat-hint>
            </mat-form-field>
            <div class="formGroup">
                <button class="btn btn-primary col-7" (click)="authService.ForgotPassword(passwordResetEmail.value)">
          Alterar senha
        </button>
            </div>
            <h3>
                <div class="redirectToLogin">
                    <span>Retornar para a página inicial ?
                        <a type="button btn-outline" mat-stroked routerLink="/home">Login</a>
          </span>
                </div>
            </h3>
        </div>
    </div>
</div>