<Div>
    <h1>Mapa de mesas</h1>

    <hr />
    <div class="row">
        <div class="col text-right">
            <button routerLink="/table/new" class="btn btn-primary">
        <i class="fa-solid fa-plus"></i>
        Add
      </button>
        </div>
    </div>
    <h1></h1>
    <table class="table table-dark table-striped">
        <thead class="thead">
            <tr class="text-center">
                <th scope="col">Mesa</th>
                <th scope="col">Lugares</th>
                <th scope="col">Status</th>
                <th scope="col">Atualizar</th>
            </tr>
        </thead>
        <!-- TODO: Inserir o layout da página de home -->
        <tbody class="text-center tbody-light">
            <tr *ngFor="let table of tables; let i = index">
                <td>{{table.nome }}</td>
                <td>{{table.lugares}}</td>
                <td>
                    <label *ngIf="table.ocupada" class="badge bg-danger">Ocupada</label>
                    <label *ngIf="!table.ocupada" class="badge bg-success">Livre</label>
                </td>

                <td>
                    <button class="center btn btn-info" [routerLink]="['/table', table.id]">
                     <i class="fa fa-pen"></i>
                    </button>
                    <button class="btn btn-danger" (click)="deleteTable(table, i)">
                     <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="tables.length === 0" class="alert alert-warning text-center mt-3">
        <h4 class="alert-heading">There is no registers</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>

</Div>