<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
        <div *ngIf="authservice.userData as user" class="row mr-2 ml-auto">
            <ul class="row m-0 align-items-center">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
              <img src="../../../assets/user-unknown.jpeg" alt="" class="user-image mr-1 p-2" />
  
              {{
                user.displayName ? user.displayName : "User"
              }}
              <mat-icon class="user-image-icon ml-1"
                >keyboard_arrow_down</mat-icon
              >
            </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="singOut()">
                        <mat-icon>exit_to_app</mat-icon>
                                    Logout
                        </button>
                        <button routerLink="/user-profile">
                        <li mat-menu-item class="nav-item">
                            <mat-icon>perm_identity</mat-icon>Perfil de usuário
                        </li>
                    </button>

                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>