<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Registrar-se</div>
    <div class="page__content shadow p-3 margem-topo position-relative">
        <div class="px-4 py-2 container col-10 text-center">
            <mat-form-field class="col-7 container" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="E-mail" #userEmail required />
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Por favor, insira um endereço de e-mail. </mat-hint>
            </mat-form-field>
            <mat-form-field class="col-7 container" appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Senha" #userPwd required />
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Por favor, insira uma senha. </mat-hint>
            </mat-form-field>
            <div class="formGroup">
                <button class="btn btn-primary col-7" (click)="authService.SignUp(userEmail.value, userPwd.value)">
          Registrar
        </button>
            </div>
            <div class="formGroup">
                <span class="or"><span class="orInner">Or</span></span>
            </div>
            <!-- Continue with Google -->
            <div class="formGroup">
                <button type=" button " class="btn btn-primary googleBtn col-7" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Continue com Google
        </button>
            </div>
            <h3>
                <div class="redirectToLogin">
                    <span>Retornar para a página inicial ?
            <a type="button btn-outline" mat-stroked routerLink="/home" 
              >Login</a
            >
          </span>
                </div>
            </h3>
        </div>
    </div>
</div>